/** 
 * If you don't use the default classes, you're gonna have to rename
 * these CSS selectors.
 */
.container{
  min-height: 100px;
}
.draggable-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  cursor: grab;
}

.draggable-slider.active {
  cursor: grabbing;
}

.draggable-slider .inner {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: fit-content;
  height: inherit;
  transition: left 0.3s ease;
}

.draggable-slider.active .inner {
  transition: none;
}
.slide-child{
  width: 100%;
}
.slide-child-title{
  margin: 2em;
}
.slide-child-image{
  margin: auto;
  height: 100%;
  width: 20%;
}
.slide-child-image img{
  width: 100%;
}
/**
 * These styles can be adapted as you see fit.
 */
.draggable-slider .inner .slide {
  width: 100vw;
  min-height: 100px;
}
@media only screen and (max-width: 1024px) {
  .draggable-slider {
    height: 100vh;
  }
}
@media only screen and (max-width: 768px) {
  .draggable-slider {
    height: 100vh;
  }
  .slide-child-image{
    margin: auto;
    width: 30%;
  }
}
@media only screen and (max-width: 425px) {
  .draggable-slider {
    height: 100vh;
  }
  .slide-child-image{
    margin: auto;
    width: 50%;
  }
}