:root{
    --bg : #131a36;
    --primary : rgba(20,41,86,1);
    --accent : #d19bee;
    --accent2 : #4cfafb;
    --text : #f0f0f0;
    --gradient1 : linear-gradient(90deg, rgba(20,41,86,1) 32%, rgba(209,155,238,1) 100%);
    --gradient2 : linear-gradient(90deg, rgba(20,41,86,1) 32%, rgba(76,250,251,1) 100%);
    --gradient3 : linear-gradient(90deg, rgba(20,41,86,1) 32%, rgba(252, 0, 0, 0.767) 100%);
    --cornergradient1 : linear-gradient(200deg, rgba(20,41,86,1) 0%, rgba(209,155,238,1) 100%);
    --cornergradient2 : linear-gradient(200deg, rgba(20,41,86,1) 0%, rgba(76,250,251,1) 100%);
}
body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: sans-serif;
}
p{
    font-size: 1em;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 2em;
}
h3{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
.rm-p-m{
    margin: 0;
    padding: 0;
}
.p1{
    padding: 1em;
}
.pl-1{
    padding-left: 1em;
}
.pt-1{
    padding-top: 1em;
}
.pb-1{
    padding-bottom: 1em; 
}
.py-1{
    padding: 1em 0 1em 0;
}
.px-1{
    padding: 0 1em 0 1em;
}
.m1{
    margin:1em;
}
.mt-1{
    margin-top: 1em;
}
.mt-2{
    margin-top: 2em;
}
.mb-1{
    margin-bottom: 1em;
}
.my-1{
    margin: 1em 0 1em 0;
}
.my-2{
    margin: 2em 0 2em 0;
}
.my-3{
    margin: 3em 0 3em 0;
}
.mx-1{
    margin: 0 1em 0 1em;
}
.mx-auto{
    margin-left:auto;
    margin-right:auto;
}
.radius-sm{
    border-radius: 1em;
}
.alert-warning{
    background: var(--gradient1);
}
.alert-danger{
    background: var(--gradient3);
}
.alert-done{
    background: var(--gradient2)
}
