body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #090a50;
    color: #444444;
}
header{
    background-color: #26296e;
    height: 3vw;
}
main{
    background-color: rgb(252, 249, 249);
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
footer{
    background-color: #26296e;
    height: 3vw;
}
.image{
    background-color: #26296e;
    height: 100%;
    flex-grow: 1;
}
.content{
    flex-grow: 1;
    justify-content: center;
}
.content h1{
    text-align: center;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form input[type="email"] ,.form input[type="password"],.form input[type="text"]{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 0.1em solid rgb(44, 44, 44);
    height: 1.5em;
    padding: 2.5em 0 1em 0;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 1em;
}
.upload-file::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
  }
  .upload-file::before {
    content: ' Drop file Disini / klik untuk memilih ';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: dashed #0bc677;
    border-radius: 3px;
    padding: 10% 5%;
    outline: none;
    color: #777777;
    cursor: pointer;
    font-weight: 700;
    box-sizing: border-box;
  }
  .upload-file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
.select-option{
    height: 2vw;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
    font-size: 1em;
}
.button{
    background-color: #0bc677;
    color: white;
    font-style: bold;
    font-size: 1.5em;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.5em;
}
/* Dashboard */

.welcome{
    grid-column: 1/3;
    height: 5vw;
}
.status{
    grid-column: 1/3;
}
.alert{
    background-color: rgb(255, 255, 143);
    padding: 1em;
}