*{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    gap: 3em;
    background-color: var(--bg);
    color: var(--text);
    
}
h1,h2,h3{
    text-shadow: var(--accent) 0px 0px 5px;
    font-family: 'Teko', sans-serif;
}
a{
    color: var(--accent2);
    text-decoration: none;
}
a:hover{
    color: var(--text);
}
.dropdown-item{
    color: var(--text);
}
.dropdown-item:hover{
    background-color: var(--bg) !important;
}
header{
    background-color: var(--primary);
}
main{
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    background-color: var(--primary);
}
footer{
    background-color: var(--primary);
    height: 3vw;
    text-align: center;
}
.image{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.image-obj{
    margin:auto auto auto auto;
    width: 80%;
}
.image-obj img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.content{
    background-color: var(--primary);
    flex-grow: 1;
    justify-content: center;
}
.content h1{
    text-align: center;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.form-text{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 0.1em solid rgb(44, 44, 44);
    height: 1.5em;
    padding: 1.5em 1em 1.5em 1em;
    margin-top: 1em;
    background-color: transparent;
    box-sizing: border-box;
    color: var(--text);
    font-size: 1.1em;
    border-radius: 10px;
    transition: 0.2s;
    border:3px solid var(--text)
}
.form-text::placeholder{
    color: #e3e3e3;
}
.form-text:hover , .form-text:focus{
    box-shadow: 0px 0px 10px 1px var(--accent2);
}
.upload-file::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
  }
  .upload-file::before {
    content: ' Drop file Disini / klik untuk memilih ';
    display: inline-block;
    border: dashed var(--accent2);
    border-radius: 3px;
    padding: 10% 5%;
    outline: none;
    color: var(--text);
    cursor: pointer;
    font-weight: 700;
    box-sizing: border-box;
  }
  .upload-file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
.select-option{
    height: 2vw;
    outline: none;
    border: none;
    background-color: var(--primary);
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
    font-size: 1em;
    color: var(--text);
}
.button{
    background:linear-gradient(40deg, rgba(20,41,86,1) 0%, rgba(209,155,238,1) 100%);
    color: white;
    font-style: bold;
    font-size: 1.5em;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 1em;
}
.button:hover{
    box-shadow: 0px 0px 10px 1px var(--accent);
}
/* Dashboard */
.dashboard{
    background-color: transparent;
    width: 900px;
    padding: 0;
    overflow: visible;
    gap: 1.5em;
    font-size: 1.1em;
}
.welcome{
    grid-column: 1/3;
    padding-top: 10em;
    border-radius: 1em;
    background: rgb(20,41,86);
    background: var(--cornergradient1);
}
.status{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.flash{
    border-radius: 1em;
    padding: 1em;
    font-weight: bold;
}
.flash a{
    font-weight: bolder;
    text-decoration: underline;
}
.timeline{
    grid-column: 1/3;
    background-color: var(--primary);
}
.timeline table{
    width: 100%;
    padding: 0;
    text-align: left;
    border-collapse: collapse;
}
.timeline tr{
    border-radius: 1em;
}
.timeline td, th{
    padding: 1em;
}
.timeline tbody tr:nth-child(even){
    background: var(--gradient1);
}
.team-data{
    background-color: var(--primary);
}
.team-data ul{
    padding: 0;
}
.team-data li{
    list-style: none;
    margin-top: 1em;
    font-size: 1.1em;
}
.payment{
    color: var(--text);
    justify-content: center;
    display: grid;
    background-color: var(--primary);
    padding: 3em;
}
.payment:nth-child(odd){
    background: var(--cornergradient1);
}
.payment:nth-child(even){
    background: var(--cornergradient2);
}

/*halaman dashboard*/

.navbar-wrapper{
    mar
    width: 100%;
    position: sticky;
    top: 0rem;
    z-index: 2000;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    margin: auto;
    padding: 1em;
}
.nav-link{
    display: flex;
    justify-content: end;
}
.nav-link-wrapper{
    display: flex;
    height: 3vw;
}
.nav-link a{
    color: var(--text);
}
.nav-link a p{
    margin-top: 1vw;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
}
.nav-link a:hover{
    color: var(--accent2);
}
.signUp{
    display: grid;
    align-items: center;
}
.signUp a{
    background: var(--cornergradient1);
    border-radius: 20px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
}
.signUp a p{
    margin: 0;
}
.signUp a:hover{
    color: var(--text);
    box-shadow: 0px 0px 10px 1px var(--accent);
}
.landing-wrapper{
    background-color: var(--bg);
    width: 1200px;
    margin: 0 auto 0 auto ;
}
.hero-section{
    grid-column: 1/3;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url('http://localhost:8000/image/31367.jpg');
    background-position: center;
}
.logo{
    width: 15%;
}
.logo img{
    width: 100%;
}
.hero-section-content{
    width: 100%;
    height: 70%;
    display: grid;
    gap: 2em;
}
.hero-section-content-title{
    display: grid;
}
.hero-section-content-sub{
    display: grid;
    justify-content: center;
}
.hero-section h1{
    font-size: 3em;
}
.hero-section .button{
    width: 10vw;
    font-size: 1.2em;
    margin: auto;
    padding: 1em 2em 1em 2em;
}
.hero-image{
    width: 100%;
}
.hero-image img{
    width: 30%;
}

.about{
    background-color: var(--primary);
    border-radius: 20px;
    overflow: hidden;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    text-align: justify;
}
.about-image{
    grid-column: 1/2;
    font-size: 5vw;
}
.about-image img{
    margin-top: auto;
    width: 100%;
}
.about-content h1{
    font-size: 5em;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.competition{
    grid-column: 1/3;
    text-align: center;
    overflow: hidden;
    margin-bottom: 5vw;
    margin-top: 5vw;
}
.competition-item{
    display: flex;
    flex-direction: column;
}
.button-wrap{
    width: 100%;
    margin-top: 3vw;
}
.button-wrap .button{
    font-size: 1.2em;
    padding: 1em 2em 1em 2em;
}
.competition-item-image{
    width: 20%;
    transform: scale(0);
    transition: 0.4s;
    text-align: center;
}
.competition-item-image img{
    width: 30%;
    margin: 2em 0 2em 0;
}
.competition-slider-wrapper{
    transition: 0.5s;
    width: 500%;
    display: flex;
}
.competition-carousel-subhead{
    display: none;
    transition: 0.4s;
}
.competition-carousel-head{
    display: none;
    transition: 0.4s;
}
.carousel-item-image-active{
    transform: scale(1);
    transition: 0.5s;
}

@media only screen and (max-width: 1600px) {
    .hero-image img{
        width: 50%;
    }
    .hero-section .button{
        width: 15vw;
    }
}
@media only screen and (max-width: 1440px) {
    .landing-wrapper {
      width: 900px;
    }
    .navbar{
        padding: 0;
        width: 100%;
        margin: 1em;
    }
    .navbar-wrapper{
        padding: 0;
    }
    .navbar{
        min-height: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .nav-link{
        margin-right: 2vw;
    }

    .logo img{
        width: 100%;
    }
    .navbar .button{
        font-size: 1em;
    }
}